body{
	background-color: #FAFFFA;/*#F5FAF6;*/
	font-family: Optima;
}

header{
	height: 8%;
	padding-top: 2%;
}

#uchicago{
	width: 105px;
}

.img-thumbnail {
  border: 0;
}

#myname{
	text-align: right;
}



.social-icons {
  text-align: right;
  margin-bottom: 0px;
  }  
.social-icons li {
  display:inline-block;
  list-style-type:none;
  -webkit-user-select:none;
  -moz-user-select:none;
  }
.social-icons li a {
  border-bottom: none;
  }
  .social-icons li img {
    width:26px;
    height:26px;
    margin-top: 3px;
    margin-left: 20px;
    margin-right: 10px;
  }


hr {
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}

.navbar{
	padding-top: 0px;
}


.navbar-light{
	font-size: 22px;
}

.navbar-nav > li{
  margin-right:80px;
}


p{
	font-size: 1.4rem;
}

.intro{
	padding-top: 5%;
}

#second{
	padding-top: 5%;
}

.word{
	padding-left: 2%;
}


#skills{
	padding: 15% 0;
}



.skill-card {
/*  position: absolute;
  top: 50%;
  left: 50%;*/
  /*-webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);*/
  padding: 20px;
  margin: 8% 0;
  width: 12rem;
  background-color: #FCFCFC;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  cursor: pointer;
}
.skill-card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.skill-card:hover .skill-card__header {
  height: 40px;
}
.skill-card:hover .skill-card__header .skill-card__icon {
  -webkit-transform: translateX(-50%) translateY(-50%) scale(1);
          transform: translateX(-50%) translateY(-50%) scale(1);
}
.skill-card:hover .skill-card__body {
  height: 170px;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  -webkit-transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
          transition-timing-function: cubic-bezier(0, 1.5, 1, 1);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(1) {
  -webkit-transition-delay: 0.25s;
          transition-delay: 0.25s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(2) {
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(3) {
  -webkit-transition-delay: 0.75s;
          transition-delay: 0.75s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(4) {
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(5) {
  -webkit-transition-delay: 1.25s;
          transition-delay: 1.25s;
}
.skill-card:hover .skill-card__body .skill-card__knowledge li:nth-child(6) {
  -webkit-transition-delay: 1.5s;
          transition-delay: 1.5s;
}
.skill-card .skill-card__header {
  position: relative;
  height: 170px;
  margin: -20px -20px 20px -20px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  overflow: hidden;
}


#python{
  background-color: #BAF2C8;
}

#Rstudio{
  background-color: #BAE4F2;
}


#html5{
  background-color: #F2C8BA;
}

#SQL{
  background-color: #F2E4BA;      /*#F2E4BA;*/
}







.skill-card .skill-card__header .skill-card__icon {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  display: block;
  width: 110px;
  height: 110px;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.skill-card .skill-card__body {
  height: 40px;
  -webkit-transition: height 0.5s;
  transition: height 0.5s;
  overflow: hidden;
}
.skill-card .skill-card__body .skill-card__title {
  font-size: 1.4rem;
  font-weight: 600;
  text-transform: uppercase;
}
.skill-card .skill-card__body .skill-card__duration {
  color: #9E9E9E;
  font-size: 0.9rem;
  font-style: italic;
}
.skill-card .skill-card__body .skill-card__knowledge {
  margin-top: 10px;
  color: #424242;
  font-size: 1.1rem;
}
.skill-card .skill-card__body .skill-card__knowledge li {
  margin-top: 5px;
  -webkit-transition-duration: 0;
          transition-duration: 0;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
  -webkit-transform: translateX(-150%);
          transform: translateX(-150%);
}

